* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #fff;
  height: 48px;
}

.menu-button {
  border: 0;
  margin-right: 10%;
  background-color: #fff;
  margin-top: 15px;
  width: 200px;
}

.button-connect {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px, 10px;
  width: auto;
}

.main {
  background-image: url(./img/header-background-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 90px;
}

.text {
  text-align: left;
}

.color-text {
  color: #172b4d;
}

.margin {
  margin: 0 8%;
}

.headline {
  text-align: left;
}

.presentation {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  line-height: 52px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.icons-socialMedia {
  list-style: none;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  width: auto;
  margin: 0 auto;
}

.icon1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.icon2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.icon3 {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
